<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block titulo %}Meu site{% endblock %}</title>
<meta http-equiv="Content-Language" content="Portuguese" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/admin_media/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/admin_media/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="/admin_media/css/widgets.css" />
	<link rel="stylesheet" type="text/css" href="/admin_media/css/dashboard.css" />

</head>
<body>
<div id="wrap">

<div id="top"></div>

<div id="content">

<div class="header">
<h1><a href="#">SGC</a></h1>
<h2>Sistema Gerenciador de Crédito</h2>
</div>

<div class="breadcrumbs">
<a href="/">Home</a> &middot; You are here
</div>
<div class="middle">

{% block conteudo %}{% endblock %}


</div>

<div id="clear"></div>
</div>

<div id="bottom"></div>

</div>

<div id="footer">
Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a>
</div>

</body>
</html>

